* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #222831;
}

/* main container box */

.postContainer {
  margin: auto;
  width: 40%;
  background-color: #eeeeee;
  height: 100%;
  border-radius: 10px;
  margin-top: 2%;
  /* margin: auto; */
}

/* Header section of the post */

.header {
  padding: 25px;
  /* background-color: antiquewhite; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid rgb(199, 199, 199);
}
.profileImg {
  float: left;
  border-radius: 50%;
  width: 50px;
  margin-right: 10px;
}
.profileName {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 0px;
  font-weight: 700;
}
.time {
  margin-top: 5px;
  font-size: 13px;
  color: #606265;
}
.dotsMenu {
  position: relative;
  bottom: 33px;
  float: right;
}

/* main content section  */

.content {
  /* background-color: aqua; */
  height: 50%;
}
.postContent {
  /* background-color: tomato; */
  padding: 10px 20px 0px 20px;
  font-size: 18px;
  word-wrap: break-word;
}
.postImage {
  padding: 10px 0px;
  width: 100%;
  object-fit: fill;
}

/* Reactions sections */

.reactionContainer {
  /* background-color: pink; */
  height: 10%;
  padding: 0px 10px 10px 10px;
  /* border-bottom: 1px solid  rgb(199, 199, 199); */
}
.blue-icon {
  color: #0099ff;
}
.thumbsUp {
  font-size: 14px;
}

/* Action bar section */

.actionBarContainer {
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
}
.actionButton {
  width: 30%;
  border-radius: 30px;
  margin: auto;
  cursor: pointer;
  border: 1px solid rgb(185, 185, 185);
  color: #606265;
  height: 7vh;
}
.actionButton:focus {
  outline: none;
}
.actionIcon {
  font-size: 16px;
  color: #606265;
}
.buttonText {
  margin-left: 10px;
  font-size: 16px;
}

/* Comment section */

.commentContainer {
  padding: 20px;
}
textarea {
  margin-top: 2px;
  margin-left: 5px;
  width: 80%;
  height: 7vh;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid rgb(185, 185, 185);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  outline: none;
  margin-bottom: 20px;
}
::placeholder {
  font-size: 16px;
  font-family: roboto;
}
.commentButton {
  border: none;
  font-size: 2em;
  position: relative;
  bottom: 15px;
  right: -12px;
  color: rgb(71, 70, 70);
  outline: none;
  cursor: pointer;
}
.commentDisplayArea {
  padding: 10px;
  /* background-color: aqua; */
  width: 100%;
  /* margin: auto; */
  height: 30%;
  border-radius: 20px;
}
.comments {
  font-size: 16px;
  margin-bottom: 10px;
  color: #606265;
}
.postedComments {
  list-style-type: none;
  padding: 10px;
}
.divider {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}

/* for the backend container */

.backendContainer {
  width: 40%;
  margin: auto;
  height: 100%;
  background-color: #0099ff;
  margin-bottom: 30px;
  text-align: center;
}

/* post compose section */

.composeContainer {
  width: 40%;
  margin: 4% auto 20px auto;
  padding: 20px;
  background-color: #eeeeee;
  border-radius: 20px;
  box-shadow: 5px 10px 2 0px grey;
}
.formHeading {
  font-size: 2rem;
}

/* nav bar */

.navBar {
  height: 8vh;
  background-color: #222831;
  display: flex;
  justify-content: space-between;
  padding: 13px;
}

.brandName {
  color: white;
  font-size: 18px;
  text-decoration: none;
}
.brandName:hover {
  text-decoration: none;
  color: #7e7e7e;
}
.navLinks {
  display: flex;
}
.navLinks li {
  margin-right: 20px;
  list-style-type: none;
}
.navLinks li:hover {
  text-decoration: none;
  color: #7e7e7e;
}
.linkActiveOnClick {
  color: #7e7e7e;
}
.navLinks li {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

/* about us page styling */

.aboutPageContainer {
  width: 70%;
  margin: auto;
  height: 70vh;
  padding: 20px;
  background-color: #eeeeee;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  border-radius: 20px;
  box-shadow: 5px 10px 20px grey;
}
.titleContainer {
  padding: 20px 30px 0px 30px;
  width: 70vh;
}
.aboutTitle {
  line-height: 0.7;
  letter-spacing: 0.1em;
}
.subtitle {
  font-weight: 400;
  color: #7e7e7e;
  font-size: 14px;
}
.aboutProfileImage {
  width: 30%;
  height: 100%;
  border-radius: 100%;
  margin-top: 8%;
  margin-right: 20px;
  box-shadow: 5px 10px 20px grey;
}
.aboutContent {
  box-sizing: border-box;
  display: inline-block;
  height: 19%;
}
.flexContainer {
  display: flex;
  justify-content: space-around;
}

/* login page styling */

.text-center {
  height: 92vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
.SignInIcon {
  font-size: 3em;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-radius: 0px;
  margin-top: -1px;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 0px;
}
.form-signin input[type="text"] {
  border-radius: 0px;
  margin-top: -1px;
}
.signUpContent {
  padding: 10px 10px 0px 10px;
  font-size: 14px;
  font-weight: bold;
}
.addImage {
  width: 80px;
  cursor: pointer;
}

/* Sign in Section */

.signInAvatar {
  font-size: 4em;
  margin-bottom: 20px;
}